

article {
    font-size: 18px;
    padding: 12px;
    section.title {
        text-align: center;
        h1 {
            font-size: 36px;
            margin-bottom: 12px;
        }
        h3 {
            font-size: 18px;
        }
    }
}